{% extends "learning_logs/base.html" %}

{% block header %}
    <h3>
        分类：
    </h3>
{% endblock %}


{% block content %}
     <h4><a href="{% url 'learning_logs:new_topic' %}">新增分类</a></h4>

    <ul>
        {% for topic in topics %}
            {#            <li>{{ topic }}</li>#}
            <li>
                <h4>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h4>
            </li>
        {% empty %}
            <li>没有分类。</li>
        {% endfor %}
    </ul>

{% endblock %}